<div [ngSwitch]="data.type" class="d-flex command-dialog-container">
    
    <!-- Map Widget -->
    <ng-template [ngSwitchCase]="'map'">
        <div class="map-container">
            <div class="map" #map></div>
            <div class="d-flex flex-row map-toolbar">
                <button [color]="'primary'" mat-raised-button (click)="done(data.type);">Confirm</button>
            </div>
        </div>
    </ng-template>

    <!-- Datepicker Widget -->
    <ng-template [ngSwitchCase]="'date'">
        <table class="date-container">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput [min]="minDate" [matDatepicker]="picker"
                            placeholder="Choose a date" [(ngModel)]="selectedDate" disabled>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker disabled="false"></mat-datepicker>
                    </mat-form-field>
                </td>
                <td>
                    <button class="btn-done" [color]="'primary'" mat-raised-button
                        (click)="done(data.type);">Done</button>
                </td>
            </tr>
        </table>
    </ng-template>

    <!-- Day picker Widget -->
    <ng-template [ngSwitchCase]="'day'">
        <table class="day-container">
            <tr>Please select a day</tr>
            <tr>
                <td class="d-flex day-grid">
                    <ng-template ngFor let-day let-i="index" [ngForOf]="dayArray">
                        <button mat-raised-button
                            [color]="(selectedDay===day)?'accent':'basic'"
                            (click)="selectedDay=day;">{{ day }}
                        </button>
                    </ng-template>
                </td>
                <td>
                    <button mat-raised-button [color]="'primary'" (click)="done(data.type);">Done</button>
                </td>
            </tr>
        </table>
    </ng-template>

    <!-- Rating Widget -->
    <ng-template [ngSwitchCase]="'rate'">
        <div class="d-flex rating-container">
            <table>
                <tr>
                    <td>Please rate your experience</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ng-template let-rating let-i="index" ngFor [ngForOf]="ratingArray">
                            <button mat-icon-button [color]="'accent'" (click)="selectedRating=i+1;">
                                <mat-icon>{{ getRatingIcon(i) }}</mat-icon>
                            </button>
                        </ng-template>
                    </td>
                    <td class="btn-container">
                        <button mat-raised-button [color]="'primary'" (click)="done(data.type);">Done</button>
                    </td>
                </tr>
            </table>
        </div>
    </ng-template>
    
    <!-- Complete Widget -->
    <ng-template [ngSwitchCase]="'complete'">
        <table class="complete-container">
            <tr>
                <td>Do you want to continue ?</td>
                <td>
                    <button mat-raised-button class="btn-first" [color]="'primary'"
                        (click)="done(data.type, data.data[0]);">{{ data.data[0] }}</button>
                </td>
                <td>
                    <button mat-raised-button class="btn-second" [color]="'primary'"
                        (click)="done(data.type, data.data[1]);">{{ data.data[1] }}</button>
                </td>
            </tr>
        </table>
    </ng-template>

</div>