.message-dialog-container {
    .header {
        background-color: red;
        height: 36px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        margin-bottom: 5px;
    }
    .body {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;
    }
}