.master-container {
    background-image: url('../../../assets/images/jpg/login-background.jpg');
    background-size: cover;
    min-width: 1024px;
    overflow: hidden;
    .header-toolbar {
        width: 100vw;
        margin-left: -15px;
    }
    .login-container {
        height: 100vh;
        width: 350px;
        justify-content: flex-start;
        align-items: center;
        background-color: rgba(95, 158, 160, 0.3);
        margin-left: 316px;
        .login-form-panel {
            height: 370px;
            width: 250px;
            padding: 22px;
            margin-left: 50px;
            border: 1px solid #D9D9D9;
            mat-card-title {
                font-size: medium;
                font-weight: 600;
                margin-bottom: 12px;
            }
            .logo-container {
                padding-top: 30px;
                align-items: center;
                justify-content: center;
                img {
                    height: 100px;
                    width: 100px;
                }
            }
        }
    }   
}
::ng-deep .tooltip-danger {
    background: #b71c1c;
}