<mat-toolbar class="header-toolbar" color="primary">
    <span>Welcome {{ userService.getUsername() }}</span>
</mat-toolbar>
<div class="container-fluid master-container">
    <!-- Header Toolbar -->
    <div class="row">
        <div class="col">
            <div class="d-flex flex-row home-container">
               <div class="d-flex flex-column home-dashboard">
                    <div class="dashboard-header">
                        <label class="dashboard-header-text">Hi buddy, what would you like to do ? </label>
                        <div class="row">
                            <div class="col-sm-1 btn-ping">
                                <button mat-raised-button color="warn" (click)="chatMode = 1;">Ping the Bot</button>
                            </div>
                            <div class="col-sm-1 btn-poke">
                                <button mat-raised-button color="warn" (click)="pokeBot();">Poke the Bot</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="dashboard-body">
                        <div class="row">
                            <div class="col" [ngSwitch]="chatMode">
                                <ng-template [ngSwitchCase]="1">
                                    <div class="ping-server-section">
                                        <input class="ping-input" type="text" [(ngModel)]="pingText" placeholder="Type in your text" />
                                        <button class="btn-send" mat-raised-button color="primary" (click)="pingBot();"
                                            [disabled]="!pingText">Send</button>
                                    </div>
                                </ng-template>
                                <!-- <ng-template [ngSwitchCase]="1">
                                    <div>BARRRR</div>
                                </ng-template>
                                <ng-template [ngSwitchCase]="2">
                                    <div>CAT</div>
                                </ng-template>¯
                                <ng-template [ngSwitchCase]="3">
                                    <div>DOG</div>
                                </ng-template> -->
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>