.master-container {
    background-image: url('../../../assets/images/jpg/login-background.jpg');
    background-size: cover;
    min-width: 1024px;
    overflow: hidden;
    .home-container {
        height: calc(100vh - 64px);
        justify-content: center;
        align-items: flex-start;
        .home-dashboard {
            width: calc(100% - 25px);
            background-color: rgba(95, 158, 160, 0.5);
            height: calc(100% - 50px);
            margin-top: 25px;
            border-radius: 5px;
            padding: 10px;
            .dashboard-header {
                padding-bottom: 15px;
                border-bottom: 2px solid #959595;
                .dashboard-header-text {
                    height: 30px;
                }
                margin: 10px;
                .btn-ping {
                    margin-right: 10px;
                }
            }
            .dashboard-body {
                background-color: #68232370;
                height: calc(100% - 100px);
                margin: 0px 5px 10px;
                border-radius: 5px;
                .ping-server-section {
                    margin: 10px;
                    .ping-input {
                        width: 250px;
                        border-radius: 5px;
                        margin-right: 10px;
                    }
                    .btn-send {
                        border-radius: 5px;
                    }
                }
            }
        }
    }   
}
::ng-deep .tooltip-danger {
    background: #b71c1c;
}